
@{
    ViewBag.Title = "Home Page";


    Layout = "~/Views/Shared/_Layout.cshtml";


}


<!-- Slideshow 4 -->
<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <div class="slider-img w3-oneimg">
                    <div class="container">
                        <div class="slider-info">
                            <h6>Mua Vé</h6>
                            <h4>Vi Vu  <br>Mùa Hè</h4>
                            <p>
                                Tận hưởng những phút giây tuyệt vời cùng chúng tôi!
                            </p>
                        </div>
                        <!-- Booking-->
                        <div class="booking-form-w3layouts">
                            <!-- Form starts here -->
                            <form action="#" method="post">
                                <h2 class="sub-heading-agileits" style="color:white;">Đặt vé máy bay</h2>
                                <div class="main-flex-w3ls-sectns">
                                    <div class="field-agileinfo-spc form-w3-agile-text1">
                                        <select class="form-control">
                                            <option>Điểm đi</option>
                                            <option value="Ho Chi Minh">Hồ Chí Minh</option>
                                            <option value="Can Tho">Cần Thơ</option>
                                            <option value="Ca Mau">Cà Mau</option>
                                            <option value="Da Nang">Đà Nẵng</option>
                                            <option value="Hue">Huế</option>
                                            <option value="Ha Noi">Hà Nội</option>
                                        </select>
                                    </div>
                                    <div class="field-agileinfo-spc form-w3-agile-text2">
                                        <select class="form-control">
                                            <option>Điểm đến</option>
                                            <option value="Ha Noi">Hà Nội</option>
                                            <option value="Hue">Huế</option>
                                            <option value="Da Nang">Đà Nẵng</option>
                                            <option value="Can Tho">Cần Thơ</option>
                                            <option value="Ca Mau">Cà Mau</option>
                                            <option value="Da Lat">Đà Lạt</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="main-flex-w3ls-sectns">
                                    <div class="field-agileinfo-spc form-w3-agile-text1">
                                        <select class="form-control">
                                            <option>Hãng bay</option>
                                            <option value="VietNam Airline">Vietnam Airline</option>
                                            <option value="Bamboo Airlines">Banboo Airlines</option>
                                            <option value="VietJect Airline">VietJect Airline</option>

                                        </select>
                                    </div>
                                    <div class="field-agileinfo-spc form-w3-agile-text2">
                                        <select class="form-control">
                                            <option>Chỗ Ngồi</option>
                                            <option value="Gan cua">Gần cửa </option>
                                            <option value="Gan loi di">Gần lối đi</option>
                                            <option value="Hang thương gia">Hạng thương gia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="main-flex-w3ls-sectns">
                                    <div class="field-agileinfo-spc form-w3-agile-text1">
                                        <input id="datepicker" name="Text" type="text" placeholder="Ngày bay" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}"
                                               required="">
                                    </div>
                                    <div class="field-agileinfo-spc form-w3-agile-text2">
                                        <input type="text" id="timepicker" name="Time" class="timepicker form-control" placeholder="Thời gian bay" value="">
                                    </div>
                                </div>

                                <div class="triple-wthree">
                                    <div class="field-agileinfo-spc form-w3-agile-text11">
                                        <select class="form-control">
                                            <option value="">Độ tuổi</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                            <option value="33">33</option>
                                            <option value="34">34</option>
                                            <option value="35">35</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="33">39</option>
                                            <option value="40">40</option>
                                            <option value="41">41</option>
                                            <option value="42">42</option>
                                            <option value="43">43</option>
                                            <option value="44">44</option>
                                            <option value="45">45</option>
                                            <option value="46">46</option>
                                            <option value="47">47</option>
                                            <option value="48">48</option>
                                            <option value="49">49</option>
                                            <option value="50">50</option>
                                            <option value="51">51</option>
                                            <option value="52">52</option>
                                            <option value="53">53</option>
                                            <option value="54">54</option>
                                            <option value="55">55</option>
                                            <option value="56">56</option>
                                            <option value="57">57</option>
                                            <option value="58">58</option>
                                            <option value="59">59</option>
                                            <option value="60">60</option>
                                            <option value="61">61</option>
                                            <option value="62">62</option>
                                            <option value="63">63</option>
                                            <option value="64">64</option>
                                            <option value="65">65</option>
                                            <option value="66">66</option>
                                            <option value="67">67</option>
                                            <option value="68">68</option>
                                            <option value="69">69</option>
                                            <option value="70">70</option>
                                            <option value="71">71</option>
                                            <option value="72">72</option>
                                            <option value="73">73</option>
                                            <option value="74">74</option>
                                            <option value="75">75</option>
                                            <option value="76">76</option>
                                            <option value="77">77</option>
                                            <option value="78">78</option>
                                            <option value="79">79</option>
                                            <option value="80">80</option>
                                            <option value="81">81</option>
                                            <option value="82">82</option>
                                            <option value="83">83</option>
                                            <option value="84">84</option>
                                            <option value="85">85</option>
                                            <option value="86">86</option>
                                            <option value="87">87</option>
                                            <option value="88">88</option>
                                            <option value="89">89</option>
                                            <option value="90">90</option>
                                            <option value="91">91</option>
                                            <option value="92">92</option>
                                            <option value="93">93</option>
                                            <option value="94">94</option>
                                            <option value="95">95</option>
                                            <option value="96">96</option>
                                            <option value="97">97</option>
                                            <option value="98">98</option>
                                            <option value="99">99</option>
                                        </select>
                                    </div>
                                    <div class="field-agileinfo-spc form-w3-agile-text22">
                                        <select class="form-control">
                                            <option value="">Trẻ em (5-11 tuổi)</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>

                                        </select>
                                    </div>
                                    <div class="field-agileinfo-spc form-w3-agile-text33">
                                        <select class="form-control">
                                            <option value="">Trẻ em( dưới 4 tuổi)</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>

                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="radio-section">
                                    <h6>Chọn giá vé</h6>
                                    <ul class="radio-buttons-w3-agileits">
                                        <li>
                                            <input type="radio" id="a-option" name="selector1">
                                            <label for="a-option" style="color:white;">Một chiều </label>
                                            <div class="check"></div>
                                            <input type="radio" id="b-option" name="selector1">

                                            <label for="b-option" style="color:white;">Khứ hồi</label>
                                            <div class="check">
                                        </li>

                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="main-flex-w3ls-sectns">
                                    <div class="field-agileinfo-spc form-w3-agile-text1">
                                        <input id="datepicker1" name="Text" type="text" placeholder="Ngày về" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}"
                                               required="">
                                    </div>
                                    <div class="field-agileinfo-spc form-w3-agile-text2">
                                        <input type="text" id="timepicker1" name="Time" class="timepicker form-control" placeholder="Thời gian về" value="">
                                    </div>
                                </div>
                                <div class="field-agileinfo-spc form-w3-agile-text">
                                    <textarea name="Message" placeholder="Ghi chú..."></textarea>
                                </div>
                                <h3 class="sub-heading-agileits">Thông tin cá nhân</h3>
                                <div class="main-flex-w3ls-sectns">
                                    <div class="field-agileinfo-spc form-w3-agile-text1">
                                        <input type="text" name="Name" placeholder="Họ tên" required="">
                                    </div>
                                    <div class="field-agileinfo-spc form-w3-agile-text2">
                                        <input type="text" name="Phone no" placeholder="Số điện thoại" required="">
                                    </div>
                                </div>
                                <div class="field-agileinfo-spc form-w3-agile-text">
                                    <input type="email" name="Email" placeholder="Email" required="">
                                </div>
                                <div class="clear"></div>
                                <input type="submit" value="Đặt">
                                <input type="reset" value="Xóa">
                                <div class="clear"></div>

                                <!--end bookiing-->
                            </form>
                            <!--// Form starts here -->
                        </div>




                    </div>
                </div>
            </li>
            <li>
                <div class="slider-img w3-twoimg">
                    <div class="container">
                        <div class="slider-info">
                            <h6>Worldwide</h6>
                            <h4>Biggest <br> Network</h4>
                            <p>
                                Quis autem vel eum iure reprehderit.Etiam sed odio consequat
                                tristique elit sed, molestie nulla.
                                velit sagittis vehicula. Duis posuere
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-img w3-threeimg">
                    <div class="container">
                        <div class="slider-info">
                            <h6>Supplying</h6>
                            <h4>Secured<br> Transport</h4>
                            <p>
                                Quis autem vel eum iure reprehderit.Etiam sed odio consequat
                                tristique elit sed, molestie nulla.
                                velit sagittis vehicula. Duis posuere
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>

    <!-- This is here just to demonstrate the callbacks -->
    <!-- <ul class="events">
       <li>Example 4 callback events</li>
       </ul>-->
</div>
<!--//banner-->
<div class="about" id="about">
    <div class="container">
        <div class="about-banner-grids ">
            <div class="col-md-4 left-of-about">
                <h3 style="color:gold;">Mua vé máy bay bằng các hình thức</h3>
                <div class=" about-matter-left">
                    <ul style="line-height:180%">
                        <li>1. Mua trực tuyến trên Website </li>
                        <li>2. Qua chat </li>
                        <ul>
                            <li><img src="~/Content/images/icons8-facebook-96.png" /><img src="~/Content/images/icons8-zalo-100.png" /></li>
                        </ul>
                        <li>3. Liên hệ: <p style=" color:red;">190 000 147</p></li>
                        <li>
                            4. Mua tại:
                            <p style="color:orangered;">141 Điện Biên Phủ-Phường 25-Quận Bình Thạnh.</p>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div>
                <img src="~/Content/images/ve-may-bay-gia-re-moi-nhat.jpg" />
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="col-md-6 about-right-info">
            <p>jfjhjhvvhjhjkkgjjkgkjgkjgkhjkbjkvmv</p>
        </div>
        <div class=" col-md-6 about-info-air">
            <div class="air-list">
                <h4>Warehousing and Storage</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam sed odio consequat, tristique elit sed, molestie nulla.
                    Lorem ipsum dolor sit amet, consectetur
                </p>
            </div>
            <div class="air-list">
                <h4>Explore Our Facilities</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam sed odio consequat, tristique elit sed, molestie nulla.
                    Lorem ipsum dolor sit amet, consectetur
                </p>
            </div>
            <div class="air-list">
                <h4>International Transport</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam sed odio consequat, tristique elit sed, molestie nulla.
                    Lorem ipsum dolor sit amet, consectetur
                </p>
            </div>
        </div>
    </div>
</div>
<!--// About-->
<!-- services-->
<div class="services" id="services">
    <h3 class="title clr">Services</h3>
    <div class="banner-bottom-girds">
        <div class="col-md-4 col-sm-6 col-xs-6 its-banner-grid gird-ser-clr2">
            <div class="white-shadow">
                <div class="white-left">
                    <span class="fa fa-truck banner-icon" aria-hidden="true"></span>
                </div>
                <div class="white-right">
                    <h4>Best Logistic</h4>
                    <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 its-banner-grid gird-ser-clr">
            <div class="white-shadow">
                <div class="white-left">
                    <span class="fa fa-clock-o banner-icon" aria-hidden="true"></span>
                </div>
                <div class="white-right">
                    <h4>Fast Delivery</h4>
                    <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 its-banner-grid gird-ser-clr2">
            <div class="white-shadow">
                <div class=" white-left">
                    <span class="fa fa-lock banner-icon" aria-hidden="true"></span>
                </div>
                <div class=" white-right">
                    <h4>Secured Service</h4>
                    <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 its-banner-grid colo">
            <div class="white-shadow">
                <div class=" white-left">
                    <span class="fa fa-archive banner-icon" aria-hidden="true"></span>
                </div>
                <div class="white-right">
                    <h4>Packing</h4>
                    <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 its-banner-grid gird-ser-clr2">
            <div class="white-shadow">
                <div class="white-right">
                    <div class="white-left">
                        <span class="fa fa-fighter-jet banner-icon" aria-hidden="true"></span>
                    </div>
                    <h4>Fly Anywhere</h4>
                    <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 its-banner-grid colo">
            <div class="white-shadow">
                <div class="white-right">
                    <div class=" white-left">
                        <span class="fa fa-home banner-icon" aria-hidden="true"></span>
                    </div>
                    <h4>Warehousing </h4>
                    <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--// services-->
<!--price table-->
<div class="price-table" id="price">
    <div class="container">
        <h3 class="title">Price-Table</h3>
        <div class="agileits-banner-grids text-center">
            <div class=" col-md-4 col-sm-4 priceing-tag">
                <div class=" clr1 agileits-banner-grid">
                    <h4>Personal</h4>
                    <div class="table_cost">
                        <span class="cost clr-price"> 260$</span>
                    </div>
                    <div class="list-price">
                        <ul>
                            <li>Additional</li>
                            <li>Warehouing</li>
                            <li>Custos Borkerage</li>
                            <li>Unlimited Transfer</li>
                        </ul>
                    </div>
                    <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> Buy Now</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 priceing-tag">
                <div class="clr2 agileits-banner-grid">
                    <h4>PROFESSIONAL</h4>
                    <div class="table_cost">
                        <span class="cost"> 150$</span>
                    </div>
                    <div class="list-price">
                        <ul>
                            <li>Additional</li>
                            <li>Warehouing</li>
                            <li>Custos Borkerage</li>
                            <li>Unlimited Transfer</li>
                        </ul>
                    </div>
                    <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> Buy Now</a>
                </div>
            </div>
            <div class=" col-md-4 col-sm-4 priceing-tag">
                <div class="clr3 agileits-banner-grid">
                    <h4>BUSINESS</h4>
                    <div class="table_cost">
                        <span class="cost clr-price "> 90$</span>
                    </div>
                    <div class="list-price">
                        <ul>
                            <li>Additional</li>
                            <li>Warehouing</li>
                            <li>Custos Borkerage</li>
                            <li>Unlimited Transfer</li>
                        </ul>
                    </div>
                    <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> Buy Now</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--//price table-->
<!--testimonials-->
<div class="testimonials colo" id="testimonials">
    <div class="container">
        <h3 class="title clr">testimonials</h3>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="thumbnail adjust1">
                        <div class="col-md-5 col-sm-5 right-says">
                            <img class="img-responsive" src="images/t1.jpg" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 client-img">
                            <div class="caption">
                                <p>
                                    <span class="fa fa-quote-left client-quote" aria-hidden="true"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam sed odio consequat, tristique elit sed, molestie nulla.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam sed odio consequat, tristique elit sed, molestie nulla.<span class="fa fa-quote-right client-quote" aria-hidden="true"></span>
                                </p>
                            </div>
                            <blockquote class="adjust2">
                                <h6>Lois Wlly</h6>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumbnail adjust1">
                        <div class="col-md-5 col-sm-5 right-says">
                            <img class="img-responsive" src="images/t2.jpg" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 client-img">
                            <div class="caption">
                                <p>
                                    <span class="fa fa-quote-left client-quote" aria-hidden="true"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam sed odio consequat, tristique elit sed, molestie nulla.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam sed odio consequat, tristique elit sed, molestie nulla.<span class="fa fa-quote-right client-quote" aria-hidden="true"></span>
                                </p>
                            </div>
                            <blockquote class="adjust2">
                                <h6>Max Willson</h6>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumbnail adjust1">
                        <div class="col-md-5 col-sm-5 right-says">
                            <img class=" img-responsive" src="images/t3.jpg" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 client-img">
                            <div class="caption">
                                <p>
                                    <span class="fa fa-quote-left client-quote" aria-hidden="true"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam sed odio consequat, tristique elit sed, molestie nulla.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam sed odio consequat, tristique elit sed, molestie nulla.<span class="fa fa-quote-right client-quote" aria-hidden="true"></span>
                                </p>
                            </div>
                            <blockquote class="adjust2">
                                <h6>Kenny East</h6>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
               <span class="fa fa-chevron-left"></span> </a>
               <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
               <span class="fa fa-chevron-right"></span> </a>
               </div> </div> -->
            <!--// testimonials-->
        </div>
    </div>
</div>
<!--newsletter -->
<div class="buttom-w3">
    <div class="container">
        <h3 class="title">Newsletter</h3>
    </div>
    <div class="news-info text-center">
        <h4>About The Best Offer</h4>
        <div class="post">
            <form action="#" method="post">
                <div class="letter">
                    <input class="email" type="email" placeholder="Your email..." required="">
                </div>
                <div class="newsletter">
                    <input type="submit" value="Subscribe">
                </div>
            </form>
        </div>
        <div class=" bottom-head text-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam sed odio consequat, tristique elit sed, molestie nulla.
            </p>
        </div>
    </div>
</div>
<!--//newsletter -->
<!--partners-->
<div class="parnters" id="parnters">
    <div class="container">
        <h3 class="title clr">Our Partners</h3>
        <div class="flexslider-info">
            <section class="slider side-side">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
                                <img src="images/logo1.jpg" alt="logo1" class="img-responsive">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
                                <img src="images/logo2.jpg" alt="logo1" class="img-responsive">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
                                <img src="images/logo3.jpg" alt="logo1" class="img-responsive">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
                                <img src="images/logo1.jpg" alt="logo1" class="img-responsive">
                            </div>
                        </li>
                        <li>
                            <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
                                <img src="images/logo1.jpg" alt="logo1" class="img-responsive">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
                                <img src="images/logo2.jpg" alt="logo1" class="img-responsive">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
                                <img src="images/logo3.jpg" alt="logo1" class="img-responsive">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
                                <img src="images/logo1.jpg" alt="logo1" class="img-responsive">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </section>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--//partners -->
<!--footer -->
<footer>
    <div class="container">
        <div class="col-md-6 col-sm-7 header-side">
            <div class="header-side">
                <div class="buttom-social-grids">
                    <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk"></span></a></li>
                    </ul>
                </div>
            </div>
            <p>©2018 Convey. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
        </div>
        <div class="col-md-6 col-sm-5 header-right">
            <h2><a href="index.html">Convey</a></h2>
        </div>
    </div>
</footer>
<!--//footer -->
<!--js working-->
<script src='js/jquery-2.2.3.min.js'></script>
<!-- //js  working-->
<!-- banner-->
<script src="js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: false,
            nav: true,
            speed: 900,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<!--// banner-->
<!--partner-->
<script src="js/jquery.flexslider.js"></script>
<!--Start-slider-script-->
<script>
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!--End-slider-script partner-->
<!-- start-smoth-scrolling -->
<script src="js/move-top.js"></script>
<script src="js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- start-smoth-scrolling -->
<!-- for-bottom-to-top smooth scrolling -->
<script>
    $(document).ready(function () {
        /*
              var defaults = {
              containerID: 'toTop', // fading element id
              containerHoverID: 'toTopHover', // fading element hover id
              scrollSpeed: 1200,
              easingType: 'linear'
              };
        */
        $().UItoTop({
            easingType: 'easeOutQuart'
        });
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //for-bottom-to-top smooth scrolling -->
<!-- bootstrap-->
<script src="js/bootstrap.js"></script>
<!--// bootstrap-->